<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/profile.php?id=61576855097624">
      <i class="fa-brands fa-square-facebook" style="background-color: #1877F2; color: white;"></i>
      </a>
      <a href="https://www.instagram.com/wanderer._paradise/?hl=en">
        <i class="fa-brands fa-square-instagram" style="background-color: #E1306C; color: white;"></i>
      </a>
      <a href="https://www.linkedin.com/learning/">
      <i class="fa-brands fa-linkedin" style="background-color: #0A66C2; color: white;"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
